<div class="col-md-12" id="footerwrap">
		<div class="row centered">
			<div class="col-lg-3">
				<p><b>Prayathnam 2014 &copy</b></p>
			</div>
			<div class="col-lg-3">
				<p>Chennai, India</p>
			</div>
			<div class="col-lg-3">
				<p>prayathnamchennai@gmail.com</p>
			</div>
		</div>
</div><! --/footerwrap -->
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>