<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prayathnam">
    <title>Prayathnam</title>
    
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=" {{ site.url }} "> Prayathnam</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li {% if page.title == "Home" %} class="active" {% endif %}><a href= " {{ site.url }} ">Home</a></li>
            <li {% if page.title == "Activities" %} class="active" {% endif %}><a href="{{ site.url }}/activities">Activities</a></li>
            <li {% if page.title == "Members" %} class="active" {% endif %}><a href="{{ site.url }}/members">Members</a></li>
            <li {% if page.title == "Yathnam Exams" %} class="active" {% endif %}><a href="{{ site.url }}/yathnamExams">Yathnam Exams</a></li>
            <li {% if page.title == "Madal" %} class="active" {% endif %}><a href="{{ site.url }}/madal">M.A.D.A.L</a></li>
            <li {% if page.title == "Gallery" %} class="active" {% endif %}><a href="{{ site.url }}/gallery">Gallery</a></li>
            <li {% if page.title == "Join Us" %} class="active" {% endif %}><a href="{{ site.url }}/joinUs">Join Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>