.sidebar {
    background-color: rgba(0, 0, 0, 0.78);
}

.bold {
    font-weight: bold;
} 

.brand {
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}

.list {
    list-style-type: none;
}

.list li {
    margin-top: 30px;
    margin-bottom: 30px;
}